* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ececec;
    color: #222222;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    margin-bottom: 8px;
}

ul {
    list-style: none;
}

header {
    background: #001386;
    padding: 60px 20px;
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    color: #fff;
    margin-bottom: 10px;
}

header p {
    color: #ccc;
}

@media screen and (max-width: 800px) {
    header {
        padding: 40px 20px;
    }
}

main {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

.titulo_noticia {
    max-width: 1000px;
    margin-bottom: 10px;
    line-height: 1.3;
}

.resumo_noticia {
    margin-bottom: 40px;
}

.autor_detalhes {
    padding-left: 5px;
    border-left: 4px solid #656565;
    margin-bottom: 10px;
}

.autor_detalhes p {
    font-size: 0.875rem;
    margin-bottom: 5px;
}

.autor_detalhes span {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

hr {
    margin-bottom: 10px;
    background-color: #656565;
}

.comentario {
    margin-bottom: 20px;
}

figcaption {
    font-size: .725rem;
    margin-bottom: 20px;
}

.mensagem {
    background: #ccc;
    padding: 20px;
    width: fit-content;
    border-radius: 6px;
    margin: 40px 0;
}

.mensagem h3 {
    margin-bottom: 20px;
}

.mensagem form {
    display: flex;
    flex-direction: column;
}

.mensagem form input {
    margin-bottom: 10px;
    width: 400px;
    font-size: 0.875rem;
    padding: 5px;
}

.mensagem form label {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.mensagem form .botao {
    width: fit-content;
    padding: 8px 20px;
    margin-top: 20px;
    justify-self: start;
    border-radius: 4px;
    border: 1px solid #555555;
    cursor: pointer;
}

footer {
    background: #010833;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.principais_links {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contato h4 {
    margin-bottom: 10px;
}

.contato p {
    font-size: 0.8rem;
}

.btn-curriculo {
    display: inline-block;
    background-color: #cccccc;
    padding: 12px 24px;
    font-size: small;
    border-radius: 6px;
    color: #303030;
    margin-top: 15px;
}

.btn-curriculo:hover {
    background-color: #b7b7b7;
}
